<a
  class="card"
  [href]="item().href"
  [attr.target]="target()"
  [attr.rel]="rel()"
  [ngStyle]="gridStyle()"
>
  <div class="cardMedia">
    <img
      class="cardImage"
      [src]="item().coverSrc"
      [attr.alt]="item().coverAltKey ? (item().coverAltKey | translate) : ''"
      loading="lazy"
    />
  </div>
  <div class="cardBody">
    <h3 class="cardTitle">{{ item().titleKey | translate }}</h3>
    <p class="cardDescription">{{ item().descriptionKey | translate }}</p>
  </div>
</a>
